@import '../BasicPartials';
.TheClasses{
    padding: 1% 11%;
    .FirstCol{
        .container-fluid
        {
            background-color: rgba(204,211,219,0.3);
            padding-top: 10%;
            padding-bottom: 10%;
            .quotes{
                img{
                    height: 150px;
                    width: 160px;
                }
            }
            .col-12{
                p{
                    font-family: $fontOpenSans;
                    font-size: 2.5rem;
                    font-weight: 300;
                    line-height: 1.8;
                }
            }

        }
            @media screen and (max-width:1199px) {
                .container-fluid
                {
                    .quotes{
                        img{
                            height: 110px;
                            width: 120px;
                        }
                    }
                    .col-12{
                        p{
                            font-size: 2rem;
                            line-height: 1.8;
                        }
                    }
        
                }

            }


            @media screen and (max-width:991px) {
                .container-fluid
                {
                    .quotes{
                        img{
                            height: 110px;
                            width: 120px;
                        }
                    }
                    .col-12{
                        p{
                            font-size: 2rem;
                            line-height: 1.8;
                        }
                    }
        
                }

            }


            @media screen and (max-width:767px) {
                .container-fluid
                {
                    .quotes{
                        img{
                            height: 110px;
                            width: 120px;
                        }
                    }
                    .col-12{
                        p{
                            font-size: 1.5rem;
                            line-height: 1.8;
                        }
                    }
        
                }

            }


            @media screen and (max-width:576px) {

            }



    }

    .SecondCol{
        text-align: center;
        .MainHeading{
            padding-top: 10%;
            padding-bottom: 10%;
            h1{
                font-family: $fontMerri;
                font-size: 2.5rem;
                color: $Orange;
                font-weight: 600;
            }
        }

        .SubHeading{
            padding-bottom: 10%;
            p{
                font-family: $fontOpenSans;
                font-size: 1.2rem;
            }
        }

        .LongWaves{
            padding-bottom: 10%;
            img{
                height: 40px;
                width: 180px;
            }
        }   

        .TheClassesImg{
            padding-bottom: 10%;
            img{
                height: 400px;
                width: 400px;
            }
        }
            @media screen and (max-width:1199px) {
                .MainHeading{
                    h1{
                        font-size: 2.5rem;
                    }
                }
        
                .SubHeading{
                    p{
                        font-size: 1.2rem;
                    }
                }
                
                .TheClassesImg{
                    padding-bottom: 10%;
                    img{
                        height: 400px;
                        width: 400px;
                    }
                }
            }


            @media screen and (max-width:991px) {

                .TheClassesImg{
                    padding-bottom: 10%;
                    img{
                        height: 300px;
                        width: 300px;
                    }
                }
            }


            @media screen and (max-width:767px) {
                .TheClassesImg{
                    padding-bottom: 10%;
                    img{
                        height: 300px;
                        width: 300px;
                    }
                }
            }


            @media screen and (max-width:576px) {
                .TheClassesImg{
                    padding-bottom: 10%;
                    img{
                        height: 250px;
                        width: 250px;
                    }
                }
            }


    }
}