@import '../BasicPartials';

.GrowWithUs{
    padding-top: 2%;
    padding-bottom: 2%;
    h1{
        font-family: $fontMerri;
        font-size: 3rem;
        font-weight: 600;
    }
    img{
        padding-top: 2%;
        height: 450px;
        width: 600px;
    }
    p{
        padding-left:15% ;
        padding-right:15% ;
        padding-top: 2%;
        font-size: 1.2rem;
        font-family: $fontOpenSans;
        line-height: 1.8;
    }
    .LearnMore{
        padding-top: 10px;
        padding-bottom: 10px;
        button{
            background-color: transparent;
            border: 1px solid black;
            padding: 1.2% 5%;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: $fontOpenSans;
            font-weight: 700;
            color: rgb(68, 67, 67);
        }
    }


        @media screen and (max-width:991px) {
            h1{
                font-family: $fontMerri;
                font-size: 2.5rem;
                font-weight: 600;
            }
            img{
                padding-top: 2%;
                height: 350px;
                width: 500px;
            }
            p{
                padding-top: 2%;
                font-size: 1.1rem !important;
                font-family: $fontOpenSans;
                line-height: 1.5;
            }
        }


        @media screen and (max-width:767px) {
            img{
                padding-top: 2%;
                height: 300px;
                width: 400px;
            }
        }


        @media screen and (max-width:576px) {
            img{
                padding-top: 2%;
                height: 250px;
                width: 300px;
            }
        }


}